includes:
	- phpstan.neon.dist
parameters:
	reportUnmatchedIgnoredErrors: false

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 1

	tipsOfTheDay: false
	treatPhpDocTypesAsCertain: false
